<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AwsKey" value="AKIAIGTIXPHD2KW7SF4Q" />
    <add key="AwsSecret" value="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" />
    <add key="AwsBucket" value="pm_" />
    <add key="OrcusConnection" value="http://sedna:04def8D0D9qgSb55q591RUd08jgArj@orcus.bcllabs.com/api" />
    <add key="SDSConnection" value="http://sedna:uxtCzk4I0QWwMLWG3q2Xx7mlDB9d3S@sds.bcllabs.com/api" />
    <add key="SDDConnection" value="http://sedna:30Wn9Bo99C55h9nF888C0qC1lpRPND@sdd.bcllabs.com/api" />
    <add key="SednaApiBaseAddress" value="http://api-v0.bcl.sednasearch.com" />
    <add key="SednaClientId" value="f2n22dybcaw" />
    <add key="SednaClientSecret" value="cOgITr8aj8uag55bybIn7chBr536Ph" />

    <!-- 
    <add key="api_client_access_id" value="641X4a7W0nKpXtfkfRuxe9S6h" />
    <add key="api_client_access_secret" value="uVTMokd08lKn5juS6Zbxdynrn"/>
    <add key="api_base_url" value="http://localhost:11111/v1/"/>
    -->

  </appSettings>
</configuration>